body,
html {
  margin: 0;
  padding: 0 0 0px;
  /* Add bottom padding to fit the footer's height */
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FDFFF1;
  background: linear-gradient(to bottom, #FDFFF1, #f0f0f0)
}

.header {
  overflow: hidden;
  position: relative;
  background-color: rgba(81, 44, 29, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-image: url('bookhead.png');
  background-repeat: repeat-x;
  max-height: 100px;
}

.a {
  color: #ECE6D1;
  float: right;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 109px;
  transition: background-color 0.3s ease, transform 0.3 ease;

}

.a:hover {
  background-color: #3E8EDE;
  transform: scale(1.1);
}

.header a.active {
  color: #f2f2f2;
}

h1 {
  color: #0c3356;
  font-size: 50px;
  text-align: center;
  padding: 1%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
}

.footer {

  background: linear-gradient(to right, #3172AE, #1c4b75);
  /*position: fixed;*/
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;

}

.footer a {
  text-decoration: none;
  color: #ECE6D1;
  font-size: 22px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer a:hover {
  color: #fff;
  transform: scale(1.1);
}

ul#contact li {
  display: inline-block;
}

ul#contact a {
  color: #ECE6D1;
  text-align: right;
  padding: 8px;
  text-decoration: none;
}

ul#contact {
  text-align: left;
  padding-right: 10px;
}

.footer a {
  text-decoration: none;
  color: #ECE6D1;
  font-size: 22px;
}

.footer p {
  color: #ECE6D1;
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}